extends layout
block content
    include header_edit.jade
    br 
    .blockContent
        .fields
            label Nome do Partido
            input.form-control(type="text",style="height:60px;")
        
        .fields
            label Nome do Doleiro
            input.form-control(type="text",style="height:60px;")

        .fields    
            label E-mail
            input.form-control(type="text",style="height:60px;")
  