extends layout
block content
  include header_edit.jade
  br 
  .blockContent
    .configButton
      h4
        a(href="/profile_menu" style="text-decoration:none; color:inherit") Detalhes da conta
    .configButton
      h4 
        a(href="/" style="text-decoration:none; color:inherit") Editar Escudo
   