body {
  background-color: #E9E9E9
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.dashboard_one {
  background-color: #FFF;
  padding: 50px!important;
}

.dashboard_two {
  padding: 50px!important;
}

.content {
  /*padding: 50px;*/
}

.partidoLogo {
  padding: 5px;
  text-align: center;
  margin-top: 7px;
}

.partidoUf {
  text-align: center;
}

.filtersContent {
  border-bottom: solid 1px #D5D5D5;
  border-top: solid 1px #D5D5D5;
  padding: 5px;
}

.politicosTable {
  margin-top: 30px;
  background-color: #FFF;
}

.header {
  background-color: #FFF;
  padding: 20px;
}

a {
  color: #00B7FF;
}

.header {
  padding-bottom: 45px;
  border-bottom: solid 3px #D5D5D5;
}

.plenario {
  background-image: url('http://www12.senado.leg.br/noticias/materias/resolveuid/a53492c3-9310-485d-9296-55a10c5790e9');
  width: 600px;
  height: 616px;
}

.main{
	margin-top: 25px;
	margin-bottom: 25px;
}

.parcialNote {
  text-align: right;
  padding-right: 90px;
  color: #ff0320;
  font-size: 30px;
  padding-top: 35px;
}

.arrow {
  padding-top: 50px;
  text-align: center;
}

.thArrow {
  background-color: #F1F1EF
}

.github{
	width: 32px;
	height: 32px;
	background-image: url('../images/giticon.png');
	text-indent: -9999px;
}

.github a{
	width: 32px;
	height: 32px;
	display: block;
}
