.block(style="width:95%")
   .row
      h3 Seu Partido
   .row
      .col-md-4
         .blockContentDash
            .row 
               .col-md-12
                  button.btn.btn-config(onClick="location.href='/profile'") 
                     span.glyphicon.glyphicon-cog
               .col-md-12
                  img(src="http://www.vectorportal.com/img_novi/naval-jack-china_11546.jpg")
            .row
               .col-md-6
                  p Última Pontuação
                  h3 77.10
               .col-md-6
                  p Patrimônio
                  h3 D$ 150.90
      .col-md-8   
         .blockContentDash
            h4 Noticias do seu partido 
            button.btn.btn-success(onClick="location.href='/dash/8cd4bb10-5c6a-11e7-94f9-bfe53eb1734a'") Ver meus políticos
   .row
      .col-md-12
         .blockContentDash
            h4 Políticos mais escalados
   
   .row
      .col-md-12
         .blockContentDash
            h4 Suas ligas